.underline {
	text-decoration: underline;
}

.btn {
	background: #00ceea;
	text-transform: uppercase;
}

.modal-title {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	line-height: 1;
}

.modal-header {
	border: 0;
	padding: 30px 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	&.red {
		background: #ff6a6a;
		color: #fff;
	}
}

.modal-body {
	padding: 0 50px;
	padding-bottom: 25px;
	&.red {
		padding: 30px 40px;
		overflow: hidden;
		position: relative;
	}
}

.form-control {
	margin-bottom: 22px;
}

.modal-body {
	label {
		font-weight: normal;
	}
}

#loginModal {
	.modal-body {
		.forgot-link {
			float: right;
			color: #626262;
		}
		.btn {
			margin-top: 20px;
		}
		p {
			text-align: center;
			margin-bottom: 0;
			margin-top: 20px;
			a {
				color: #00ceea;
			}
		}
	}
}

#createAcc, #createAccWithIcons {
	.form-control {
		border-radius: 0;
	}
	.form-inline {
		width: 100%;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: stretch;
		.select-wrap {
			padding: 0 12px;
			display: inline-flex;
			-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
			  width: 20%;            /* For old syntax, otherwise collapses. */
			  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
			  -ms-flex: 1;           /* IE 10 */
			  flex: 1; 
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}

		.form-control {
			width: 100%;
		}
	}
}

.checkbox-wrapper {
	text-align: center;
	width: 100%;
	span {
		margin-left: 10px;
		text-align: left;
		font-size: 12px;
		display: inline-block;
		font-weight: 300;
		width: 230px;
		color: #626262;
	}
	margin-bottom: 25px;
	margin-top: 30px;
}

#accept, #accept2 {
	display: none;
	&+label {
		background: url('../img/reg_checkbox.png');
		width: 23px;
		height: 23px;
		background-position: 0 23px;
		position: relative;
		margin-bottom: 0;
		margin-top: 3px;
		display: inline-block;
	}
	&+label:hover {
		cursor: pointer;
	}
	&:checked+label {
		background-position: 0 0;
	}
}

#upload {
	.info {
		float: left;
		width: 35%;
		.buttons {
			position: absolute;
			width: 28%;
			top: 50%;
			transform: translateY(-50%);
			right: 40px;
			button {
				margin-top: 25px;
				background-color: transparent;
				color: #00ceea;
				padding: 15px 10px;
				&:hover {
					background-color: #00ceea;
					color: #fff;
				}
			}
		}
	}
	.block-desc {
			color: #ff6a6a;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 35px;
			line-height: 1;
			margin-bottom: 20px;
			margin-top: 10px;
			text-align: center;
			margin-right: 45px;
	}
	.three-ways {
		float: left;
		width: 65%;
		border-right: 5px solid #b2f0f9;
		padding: 20px 0;
		.way {
			margin-bottom: 35px;
			overflow: hidden;
			position: relative;
			&:last-child {
				margin-bottom: 0;
			}
			.number {
				color: #ff6a6a;
			}
			.desc {
				margin-right: 45px;
				position: relative;
				position: absolute;
				left: 0;
				top: 0;
				width: 50%;
				height: 100%;
				.text {
					position: absolute;
					width: 100%;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					font-size: 16px;
				}
			}
			.photos {
				float: left;
				margin-left: 50%;
				img {
					margin-right: 30px;
					width: 100px;
					height: 100px;
				}
			}
		}
	}
}

#edit {
	text-align: center;
	.info-message {
		display: inline-block;
		margin-bottom: 20px;
	}

	.photo {
		float: left;
		width: 65%;
		overflow: hidden;
		img {
			max-width: 100%;
			min-height: 100%;

		}
		padding-right: 45px;
	}

	#blurSlider {
		width: 100%;
    	float: left;
    	margin: 20px 0;
    	height: 3px;
    	border-color: #00ceea;
    	display: none;
    	border: 2px solid #dcdcdc;
    	.ui-slider-handle {
		    top: -0.35em;
		    width: 0.8em;
		    height: .8em;
    		background:  #00ceea;
    		border-radius: 50%;
    		border-color: #00ceea;
    	}
    	.ui-slider-range-min {
    		background-color: #00ceea;
    		height: 4px;
    		top: -2px;
    		left: -2px;
    	}
	}

	.save-btn {
				width: 35%;
				float: left;
				margin-top: 20px;
			}
	.done-btn {
		margin-top: -20px;
		width: 35%;
		float: left;
		opacity: 0;
		&.saved {
			opacity: 1;
		}
	}

	.buttons {
		float: left;
		width: 35%;
		&.on-active {
			display: none;
		}
		&.saved {
			opacity: 0;
		}
		
		button {
			width: 100%;
			margin-bottom: 20px;
			background-color: transparent;
			border-color: #ff6a6a;
			color: #ff6a6a;
			&:hover {
				color: #00ceea;
				border-color: #00ceea;
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&.active {
				color: #00ceea;
				border-color: #00ceea;
			}

		}
		&.bottom {
			width: 35px;
		}

	}
}

.modal-header .close {
    margin-top: -2px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.form-control-feedback {
	right: - 30px;
}

.form-group {
	margin-bottom: 0;
}

.has-success {
	.form-message {
		position: absolute;
		display: inline-block;
		bottom: calc(100% + 5px);
		right: 0;
		color: #3c763d;
	}
}

.has-warning {
	.form-message {
		position: absolute;
		display: inline-block;
		bottom: calc(100% + 5px);
		right: 0;
		color: #8a6d3b;
	}
}