@import "fonts";
@import "header";
@import "footer";
@import "index";
@import "membership";
@import "popups";

*:focus {
	outline: 0 !important;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue';
}

ul {
	margin: 0;
	padding: 0;
}

.container {
    padding: 0;
}

*[class*=col-] {
    padding: 0;
}