@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-LightItalic.eot");
  src: url("../fonts/HelveticaNeue-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeue-LightItalic.ttf") format("truetype"), url("../fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

header {
  padding-top: 35px; }
  header.inner {
    background: #ff6a6a;
    padding-bottom: 45px; }
  header .logo {
    display: inline-block; }
    header .logo .logo-text {
      color: #ffffff;
      text-decoration: none;
      margin-top: 25px;
      font-size: 18px; }
    header .logo:hover, header .logo:active, header .logo:focus {
      text-decoration: none; }
  header .btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    line-height: 1;
    padding: 10px 30px; }
    header .btn .caret {
      display: inline-block;
      margin-left: 5px; }
  header .dropdown {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top; }
    header .dropdown.usa {
      margin-bottom: 20px;
      margin-left: 40px; }
  header .btn-primary:hover, header .btn-primary:focus {
    background-color: #00ceea;
    border-color: #00ceea; }
  header .btn-primary:active:hover, header .btn-primary.active:hover, header .open > .dropdown-toggle.btn-primary:hover, header .btn-primary:active:focus, header .btn-primary.active:focus, header .open > .dropdown-toggle.btn-primary:focus, header .btn-primary:active.focus, header .btn-primary.active.focus, header .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #00ceea;
    border-color: #00ceea; }

:not(.main-page) header .sm-button {
  border: 1px solid #fff; }

.sm-button {
  border: 1px solid #999c95;
  border-radius: 5px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
  vertical-align: top;
  margin-left: 30px;
  position: relative;
  transition: .25s; }
  .sm-button .login-btn {
    margin-bottom: 0; }
  .sm-button:hover ul {
    display: block; }

.dropdown-menu {
  position: absolute;
  top: calc(100%);
  padding-top: 5px;
  left: 0;
  border-radius: 5px;
  text-align: left;
  width: 210px;
  z-index: 10;
  display: none; }
  .dropdown-menu::after {
    content: " ";
    position: absolute;
    bottom: calc(100% - 5px);
    left: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #999c95 transparent; }
  .dropdown-menu li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .dropdown-menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .dropdown-menu li a {
    color: #ffffff;
    padding: 10px;
    display: block;
    background: #999c95; }
    .dropdown-menu li a:hover {
      color: #999c95;
      background: #ffffff;
      text-decoration: none; }

:not(.main-page) .dropdown-menu::after {
  border-color: transparent transparent #fff transparent; }

:not(.main-page) .dropdown-menu li a {
  background: #ffffff;
  color: #ff6a6a; }
  :not(.main-page) .dropdown-menu li a:hover {
    color: #fff;
    background: #ff6a6a; }

.sm-button:hover, .sm-button:active, .sm-button:focus {
  text-decoration: none;
  background: #999c95;
  color: #ffffff;
  cursor: pointer; }

:not(.main-page) .sm-button:hover, .sm-button:active, .sm-button:focus {
  background-color: transparent; }

.usa-btn:hover, .usa-btn:active, .usa-btn:focus {
  background-color: #999c95; }

.lang-btn {
  padding-right: 40px;
  background: url("../img/down-arrow.png") no-repeat right 20px center; }

.lang-btn:hover, .lang-btn:active, .lang-btn:focus {
  background: url("../img/down-arrow.png") no-repeat right 20px center;
  background-color: #999c95; }

.nav-panel {
  float: right;
  text-align: right; }

footer {
  background: #ff6a6a;
  padding-top: 50px;
  padding-bottom: 55px; }
  footer .container {
    padding: 0 30px; }
  footer .bottom-menu {
    margin-bottom: 45px; }
    footer .bottom-menu li {
      display: inline-block;
      margin: 0 25px; }
      footer .bottom-menu li:first-child {
        margin-left: 0; }
      footer .bottom-menu li:last-child {
        margin-right: 0; }
      footer .bottom-menu li a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300; }
  footer .copyright {
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding-right: 12px; }

:not(.main-page) > footer {
  margin-top: 45px; }

.mobile-title {
  display: none; }

.btn {
  border-color: #00ceea; }

.first-screen {
  height: 100vh;
  min-height: 768px;
  position: relative; }
  .first-screen .bg-block {
    padding-bottom: 50px;
    background: url("../img/first_block_bg.jpg") no-repeat;
    background-size: cover;
    height: calc(100% - 75px); }
    .first-screen .bg-block .container {
      position: relative;
      height: 100%; }
  .first-screen .bottom-block {
    border: 1px solid #ff6a6a;
    height: 75px;
    color: #ff6a6a;
    font-size: 24px;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .first-screen .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right; }
    .first-screen .bottom-right .text {
      font-size: 24px;
      line-height: 40px;
      color: #ffffff;
      margin-bottom: 37px;
      letter-spacing: 1.5px; }

.fixed-nav {
  display: none; }

.second-block {
  padding-top: 70px;
  background: #f6f8f8;
  padding-bottom: 85px; }

.second-block .image, .second-block .text {
  width: 50%; }

.second-block .image {
  max-height: 410px;
  overflow: hidden;
  padding-right: 32px; }

.second-block .image img {
  max-width: 100%; }

.second-block .item {
  overflow: hidden;
  margin-bottom: 65px;
  position: relative;
  display: flex;
  align-items: center; }

.second-block .item:nth-child(odd) {
  flex-direction: row-reverse; }

.second-block .item:nth-child(odd) .image {
  padding-left: 32px;
  padding-right: 0; }

.second-block .item .text {
  padding-left: 32px; }

.second-block .item:nth-child(odd) .text {
  float: left;
  padding-left: 0;
  padding-right: 32px;
  left: 0;
  right: auto; }

.second-block .item .title {
  color: #ff6a6a;
  font-size: 36px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: 2px; }

.second-block .item .text-block {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300; }

.btn-row {
  text-align: center;
  margin-top: 95px; }

.big-btn {
  background: #00ceea;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 1;
  transition: background .25s; }

.big-btn:hover, .big-btn:active, .big-btn:focus {
  color: #00ceea;
  background: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background  .25s; }

.third-block {
  margin-bottom: 85px;
  padding-top: 65px; }

.main-title {
  margin: 0;
  color: #ff6a6a;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1.5px; }

.third-block .main-title:first-child {
  margin-bottom: 30px; }

.third-block .subtitle {
  margin: 0;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 45px; }

.third-block .item {
  float: left;
  width: 50%;
  padding-right: 40px;
  margin-bottom: 100px; }

.third-block .item:last-child {
  width: 75%;
  margin: 0 auto;
  float: none; }

.third-block .item:nth-child(2n+1) {
  clear: both; }

.third-block .item .image {
  height: 165px;
  width: 165px;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: left;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4); }

.third-block .item .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  min-height: 100%;
  max-width: 100%; }

.third-block .item .text {
  float: left;
  width: calc(100% - 165px - 30px); }

.third-block .item .text .title {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  line-height: 1; }

.third-block .item .text-block {
  line-height: 30px;
  font-weight: 300;
  font-size: 18px; }

.fourth-block .main-title {
  margin-bottom: 60px; }

.fourth-block {
  padding-top: 65px;
  background: #f6f8f8; }

.fourth-block .item {
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center; }

.fourth-block .item:last-child {
  margin-bottom: 80px; }

.fourth-block .item .text, .fourth-block .item .image-block {
  width: 50%; }

.fourth-block .item:nth-child(even) {
  flex-direction: row-reverse; }

.fourth-block .item .text {
  text-align: center;
  padding: 0 65px; }

.fourth-block .item .title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 50px; }

.fourth-block .item .text-block {
  font-size: 18px;
  line-height: 30px;
  color: #000000; }

.fourth-block .item .image-block {
  width: 50%;
  text-align: center; }

.fourth-block .item .image {
  height: 300px;
  width: 300px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4); }

.fourth-block .item .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.fifth-block {
  padding-top: 55px; }

.sign-up-block {
  text-align: center; }

.fifth-block .sign-up-block .text {
  font-size: 36px;
  color: #ff6a6a;
  font-weight: 300;
  margin-top: 145px;
  text-align: center;
  margin-bottom: 55px;
  letter-spacing: 1.7px; }

.fifth-block .sign-up-block a:hover {
  background: #f6f8f8;
  color: #00ceea; }

.fifth-block .text span {
  color: #00ceea;
  font-weight: bold; }

.fifth-block .phone-block {
  text-align: center; }

.fifth-block .phone-block .image {
  height: 495px;
  overflow: hidden;
  padding-left: 14%; }
  .fifth-block .phone-block .image img {
    max-width: 100%; }

footer .nav-panel {
  display: none; }

@media (max-width: 1199px) {
  .fifth-block .sign-up-block .text {
    margin-top: 90px; } }

@media (max-width: 991px) {
  .third-block .item {
    width: 100%;
    margin-bottom: 60px; }
    .third-block .item:last-child {
      width: 100%; }
  .fourth-block .item .text {
    top: 0;
    transform: translate(0); }
  .sign-up-block .btn {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  header {
    padding-top: 10px;
    background: rgba(255, 106, 106, 0.4);
    text-align: center; }
    header .nav-panel {
      display: none; }
    header .logo {
      margin-bottom: 10px; }
      header .logo img {
        width: 70%; }
      header .logo .logo-text {
        margin-top: 10px;
        font-size: 12px; }
  .first-screen {
    min-height: 0; }
    .first-screen .bottom-right {
      text-align: left;
      position: static; }
      .first-screen .bottom-right .btn {
        display: none; }
      .first-screen .bottom-right .text {
        position: absolute;
        top: 50%;
        width: 100%;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        margin-top: 20px; }
    .first-screen .bg-block {
      position: relative; }
      .first-screen .bg-block .container {
        position: relative;
        z-index: 2; }
      .first-screen .bg-block::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background: rgba(46, 33, 33, 0.5); }
  .second-block {
    padding-bottom: 0;
    padding-top: 10px; }
    .second-block .item {
      display: block;
      margin-bottom: 42px; }
      .second-block .item .title {
        font-size: 33px;
        margin-bottom: 10px; }
      .second-block .item .text {
        position: static;
        transform: translate(0);
        width: 60%; }
      .second-block .item .image {
        width: 40%;
        padding: 0;
        position: absolute; }
        .second-block .item .image img {
          max-width: none;
          position: relative; }
        .second-block .item .image::after {
          position: absolute;
          left: 0;
          content: ' ';
          width: 100%;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.3); }
      .second-block .item:nth-child(odd) .text {
        float: right;
        padding: 0 17px; }
      .second-block .item:nth-child(odd) .image {
        float: left;
        padding-left: 0;
        position: absolute;
        height: 100%; }
        .second-block .item:nth-child(odd) .image img {
          max-width: none;
          height: 100%; }
      .second-block .item:nth-child(even) .text {
        float: left;
        padding: 0 17px; }
      .second-block .item:nth-child(even) .image {
        float: right;
        right: 0; }
  .btn-row {
    display: none; }
  .third-block {
    padding-top: 25px;
    margin-bottom: 25px; }
    .third-block .subtitle {
      margin-bottom: 30px; }
    .third-block .main-title {
      margin-bottom: 24px; }
    .third-block .item {
      padding: 0 32px; }
      .third-block .item .text .title {
        margin-bottom: 20px; }
  .main-title {
    font-size: 33px;
    padding: 0 65px; }
  .subtitle {
    padding: 0 65px; }
    .subtitle br {
      display: none; }
  .fourth-block {
    padding-top: 20px; }
    .fourth-block .main-title {
      margin-bottom: 33px; }
    .fourth-block .item {
      display: flex;
      padding: 0 40px; }
      .fourth-block .item:last-child {
        margin-bottom: 30px; }
      .fourth-block .item:nth-child(even) .image-block {
        margin-left: 40px; }
      .fourth-block .item:nth-child(odd) .image-block {
        margin-right: 40px; }
      .fourth-block .item .image-block {
        width: 170px; }
      .fourth-block .item .image {
        width: 170px;
        height: 170px; }
        .fourth-block .item .image img {
          width: 100%; }
      .fourth-block .item .text {
        position: static;
        text-align: left;
        padding: 0;
        width: calc(100% - 210px); }
      .fourth-block .item .title {
        margin-bottom: 18px; }
  .fifth-block {
    padding-top: 0;
    overflow: hidden; }
    .fifth-block .sign-up-block {
      padding-left: 42px; }
      .fifth-block .sign-up-block .text {
        font-size: 32px;
        line-height: 1.2; }
        .fifth-block .sign-up-block .text br {
          display: none; }
      .fifth-block .sign-up-block .btn {
        display: none; }
    .fifth-block .phone-block .image {
      padding-right: 37px;
      padding-left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%; }
      .fifth-block .phone-block .image img {
        max-width: 140%; }
    .fifth-block .phone-block .text {
      position: absolute;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      top: 260px;
      z-index: 1;
      padding-left: 10px; }
  footer {
    margin-bottom: 70px;
    padding-bottom: 10px;
    padding-top: 10px; }
    footer .container {
      padding: 0 10px; }
    footer .nav-panel {
      margin-bottom: 15px;
      float: left;
      width: 100%;
      display: block; }
      footer .nav-panel .dropdown {
        width: 50%;
        float: left; }
        footer .nav-panel .dropdown .dropdown-menu {
          top: auto;
          bottom: 100%; }
        footer .nav-panel .dropdown .btn {
          width: calc(100% - 5px);
          padding: 12px 16px;
          line-height: 1;
          background: none;
          border-color: #fff;
          border-width: 2px; }
        footer .nav-panel .dropdown:first-child .btn {
          margin-right: 5px; }
        footer .nav-panel .dropdown:last-child .btn {
          margin-left: 5px; }
    footer .bottom-menu {
      display: none; }
    footer .copyright {
      text-align: center; }
  .fixed-nav {
    display: block;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff; }
    .fixed-nav .btn {
      width: calc(50% - 5px);
      border-color: #00ceea;
      border-width: 2px;
      background: none;
      color: #00ceea; }
      .fixed-nav .btn:first-child {
        margin-right: 5px; }
      .fixed-nav .btn:last-child {
        margin-left: 5px; }
      .fixed-nav .btn:hover, .fixed-nav .btn:focus, .fixed-nav .btn:active {
        color: #fff;
        background: #00ceea;
        border-color: #00ceea; } }

@media (max-width: 560px) {
  header {
    background: #ff6a6a; }
  .first-screen .bg-block {
    background-position: 50%; }
  .first-screen .bottom-right .text {
    font-size: 20px;
    top: 90px;
    line-height: 1.2; }
    .first-screen .bottom-right .text br {
      display: none; }
  .second-block .item {
    margin-bottom: 20px; }
    .second-block .item .image {
      width: 100%;
      height: 220px !important;
      float: none !important;
      overflow: hidden !important;
      position: relative !important;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5); }
      .second-block .item .image img {
        width: 100%;
        height: auto !important;
        min-height: 100%; }
    .second-block .item .text {
      float: none !important;
      width: 100%; }
      .second-block .item .text .title {
        position: absolute;
        bottom: calc(100% - 25px);
        color: #fff;
        margin-bottom: 50px; }
      .second-block .item .text .text-block {
        padding-top: 25px; }
  .third-block .main-title {
    padding: 0 30px;
    font-size: 30px; }
  .third-block .subtitle {
    padding: 0 40px;
    text-align: left; }
  .third-block .item {
    margin-bottom: 40px;
    position: relative; }
    .third-block .item .image {
      width: 100px;
      height: 100px;
      margin-bottom: 23px; }
    .third-block .item .text {
      width: 100%;
      text-align: center; }
      .third-block .item .text .title {
        position: absolute;
        top: 30px;
        width: calc(100% - 130px);
        right: 0;
        text-align: center; }
  .fourth-block .item {
    display: block;
    padding: 0 35px; }
    .fourth-block .item .text {
      width: 100%; }
      .fourth-block .item .text .title {
        display: none; }
    .fourth-block .item .image-block {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 !important;
      margin-bottom: 17px !important; }
      .fourth-block .item .image-block .image {
        height: 100px;
        width: 100px; }
    .fourth-block .item .mobile-title {
      font-size: 24px;
      color: #000000;
      width: calc(100% - 140px);
      text-align: left;
      display: block; }
    .fourth-block .item:nth-child(even) .image-block {
      flex-direction: row-reverse; }
      .fourth-block .item:nth-child(even) .image-block .image {
        margin-left: 40px; }
    .fourth-block .item:nth-child(odd) .image-block .image {
      margin-right: 40px; }
  .fifth-block .col-xs-6 {
    width: 100%; }
    .fifth-block .col-xs-6 .sign-up-block {
      padding: 0 45px; }
      .fifth-block .col-xs-6 .sign-up-block .text {
        margin-top: 15px;
        margin-bottom: 0; }
  .fifth-block .phone-block .image {
    position: static;
    margin-top: -135px; }
    .fifth-block .phone-block .image img {
      margin-left: 20px;
      margin-top: 135px; }
  .fifth-block .phone-block .text {
    top: auto;
    bottom: 20px;
    padding-left: 0; }
  .fixed-nav .btn {
    width: 100%;
    margin: 0 0 10px 0 !important; }
  footer {
    margin-bottom: 130px; }
    footer .nav-panel .dropdown:first-child {
      width: 30%; }
    footer .nav-panel .dropdown:last-child {
      width: 70%; } }

@media (max-width: 550px) {
  .fifth-block .col-xs-6 .phone-block .text {
    padding-right: 100px; } }

@media (max-width: 460px) {
  .third-block .main-title, .third-block .subtitle {
    padding: 0 15px; }
  .third-block .item {
    padding: 0 15px; }
  .fourth-block .main-title {
    padding: 0 15px; }
  .fourth-block .item {
    padding: 0 15px;
    text-align: center; }
    .fourth-block .item .image-block {
      display: block; }
      .fourth-block .item .image-block .mobile-title {
        width: 100%;
        text-align: center; }
      .fourth-block .item .image-block .image {
        margin: 0 !important; }
    .fourth-block .item .text {
      text-align: center; }
  .fifth-block .col-xs-6 .sign-up-block {
    padding: 0 15px; }
  .fifth-block .col-xs-6 .phone-block .text {
    padding-right: 30px; }
  .fifth-block .col-xs-6 .phone-block .image img {
    margin-left: 0; } }

@media (max-width: 420px) {
  .fifth-block .col-xs-6 .phone-block .text {
    padding-left: 10px; } }

.membership-block {
  padding-top: 45px; }
  .membership-block .container {
    padding: 0 15px; }

.page-main-title {
  margin: 0;
  font-size: 36px;
  color: #ff6a6a;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px; }

.step {
  font-size: 24px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 30px; }

.plans {
  margin-bottom: 60px; }
  .plans .plan {
    border: 10px solid #f8dcdc;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
    position: relative; }
    .plans .plan.most-popular::after {
      content: 'MOST POPULAR!';
      font-size: 12px;
      color: #ff6a6a;
      background: #f9dcdc;
      position: absolute;
      width: 90px;
      top: 0;
      right: 0;
      padding: 7px 0;
      border-bottom-left-radius: 5px;
      text-align: left;
      padding-left: 20px; }
    .plans .plan.per-month .price::after {
      content: 'PER MONTH';
      font-size: 12px;
      color: #929393;
      position: absolute;
      width: 50px;
      bottom: 15px;
      left: calc(100% + 8px);
      text-align: left;
      line-height: 15px; }
    .plans .plan.selected {
      border: 10px solid #7be3f1; }
      .plans .plan.selected .select-plan {
        background: #00ceea;
        color: #ffffff; }
      .plans .plan.selected.most-popular::after {
        background: #7be3f1;
        color: #ffffff; }
    .plans .plan .term {
      font-size: 19px;
      font-weight: bold;
      color: #303030;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .plans .plan .price {
      font-size: 140px;
      font-weight: 300;
      color: #303030;
      line-height: 1;
      position: relative;
      display: inline-block;
      margin-bottom: 30px; }
      .plans .plan .price::before {
        content: '$';
        font-size: 40px;
        color: #cccdcd;
        top: 20px;
        right: 100%;
        position: absolute; }
    .plans .plan .features {
      padding-left: 100px;
      margin-bottom: 45px; }
      .plans .plan .features li {
        text-align: left;
        margin-bottom: 5px; }
        .plans .plan .features li span {
          font-size: 18px;
          color: #303030;
          position: relative;
          text-align: left; }
          .plans .plan .features li span::before {
            content: '';
            background: #303030;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            top: 8px;
            right: calc(100% + 10px);
            position: absolute; }
    .plans .plan .select-plan {
      padding: 20px 60px;
      background: #ff6a6a;
      bottom: 35px;
      left: 50%; }
      .plans .plan .select-plan:hover {
        background: #00ceea;
        color: #ffffff; }
  .plans *[class*="col-"] {
    padding: 0 15px; }

.after-text {
  font-size: 18px;
  text-align: center;
  color: #000000; }
  .after-text a {
    color: #000000;
    text-decoration: underline; }

.benefits {
  margin-bottom: 40px;
  overflow: hidden; }
  .benefits .title {
    font-size: 24px;
    color: #303030;
    margin-bottom: 45px; }
  .benefits .item {
    width: calc(50% - 70px);
    float: left;
    margin-bottom: 40px; }
    .benefits .item:nth-child(odd) {
      margin-right: 70px;
      margin-left: 0; }
    .benefits .item:nth-child(even) {
      margin-left: 70px; }
    .benefits .item .name {
      font-size: 18px;
      font-weight: bold;
      color: #000000;
      margin-bottom: 15px; }
    .benefits .item .text {
      font-size: 18px;
      line-height: 30px; }

.step-desc {
  color: #ff6a6a;
  line-height: 30px;
  font-size: 14px;
  margin-top: -25px;
  margin-bottom: 50px; }

.pay-items {
  margin-bottom: 45px;
  overflow: hidden; }

.pay-item {
  float: left;
  width: 20%; }
  .pay-item:hover {
    cursor: pointer; }
    .pay-item:hover .name {
      color: #00ceea;
      transition: .25s; }
  .pay-item .image {
    margin-bottom: 10px;
    text-align: center; }
    .pay-item .image img {
      max-width: 100%; }
  .pay-item .name {
    color: #000000;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    transition: .25s; }

.btn {
  color: #fff; }

@media (max-width: 1199px) {
  .pay-item .image {
    padding: 0 10px; }
  .plans .plan .features {
    padding-left: 70px; }
  footer .bottom-menu li {
    margin: 0 12px; } }

@media (max-width: 991px) {
  header.inner .logo .logo-text {
    font-size: 16px; }
  .plans .plan {
    margin-bottom: 20px; }
  .benefits .item {
    width: calc(50% - 20px); }
  .benefits .item:nth-child(even) {
    margin-left: 20px; }
  .benefits .item:nth-child(odd) {
    margin-right: 20px; }
  .plans .plan .features li span br {
    display: none; }
  footer .bottom-menu {
    margin-bottom: 30px;
    overflow: hidden; }
  footer .bottom-menu li {
    float: left;
    width: 33.3%;
    margin: 0;
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  header.inner .logo {
    margin-bottom: 30px; }
  .pay-item {
    width: 33.3%;
    margin-bottom: 20px; }
  .nav-panel {
    float: none;
    text-align: left; } }

@media (max-width: 600px) {
  .plans .plan .price {
    font-size: 100px; }
  .plans .plan .features li span {
    font-size: 16px; }
  .plans .plan .features {
    padding-left: 40px; }
  .plans .plan.most-popular::after {
    font-size: 10px;
    width: 79px; }
  .plans .plan .select-plan {
    padding: 10px 40px; }
  .benefits .item {
    margin: 0;
    width: 100%;
    margin-bottom: 20px; }
  .benefits .item:nth-child(odd) {
    margin-right: 0;
    margin-left: 0; }
  .benefits .item:nth-child(even) {
    margin-left: 0;
    margin-right: 0; }
  .pay-item {
    width: 50%; }
  .pay-item .name {
    font-size: 20px; }
  .pay-items {
    margin-bottom: 15px; }
  .step-desc {
    line-height: 20px;
    font-size: 13px; }
  footer .bottom-menu li {
    float: left;
    width: 50%;
    margin: 0;
    margin-bottom: 15px; }
    footer .bottom-menu li a {
      font-size: 12px; }
  .benefits .item .text {
    font-size: 16px;
    line-height: 30px; } }

.btn {
  background: #00ceea;
  text-transform: uppercase; }

.modal-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 1; }

.modal-header {
  border: 0;
  padding: 30px 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .modal-header.red {
    background: #ff6a6a;
    color: #fff; }

.modal-body {
  padding: 0 50px;
  padding-bottom: 25px; }
  .modal-body.red {
    padding: 55px 40px;
    overflow: hidden;
    position: relative; }

.form-control {
  margin-bottom: 22px; }

.modal-body label {
  font-weight: normal; }

#loginModal .modal-body .forgot-link {
  float: right;
  color: #626262; }

#loginModal .modal-body .btn {
  margin-top: 20px; }

#loginModal .modal-body p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px; }
  #loginModal .modal-body p a {
    color: #00ceea; }

#createAcc .form-control, #createAccWithIcons .form-control {
  border-radius: 0; }

#createAcc .form-inline, #createAccWithIcons .form-inline {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch; }
  #createAcc .form-inline .select-wrap, #createAccWithIcons .form-inline .select-wrap {
    padding: 0 12px;
    display: inline-flex;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1; }
    #createAcc .form-inline .select-wrap:first-child, #createAccWithIcons .form-inline .select-wrap:first-child {
      padding-left: 0; }
    #createAcc .form-inline .select-wrap:last-child, #createAccWithIcons .form-inline .select-wrap:last-child {
      padding-right: 0; }
  #createAcc .form-inline .form-control, #createAccWithIcons .form-inline .form-control {
    width: 100%; }

.checkbox-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 30px; }
  .checkbox-wrapper span {
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    font-weight: 300;
    width: 230px;
    color: #626262; }

#accept {
  display: none; }
  #accept + label {
    background: url("../img/reg_checkbox.png");
    width: 23px;
    height: 23px;
    background-position: 0 23px;
    position: relative;
    margin-bottom: 0;
    margin-top: 3px;
    display: inline-block; }
  #accept + label:hover {
    cursor: pointer; }
  #accept:checked + label {
    background-position: 0 0; }

#upload .info {
  float: left;
  width: 35%; }
  #upload .info .desc {
    color: #ff6a6a;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 35px; }
  #upload .info .buttons {
    position: absolute;
    width: 35%;
    bottom: 55px;
    right: 40px; }
    #upload .info .buttons button {
      margin-top: 25px;
      background-color: transparent;
      color: #00ceea; }
      #upload .info .buttons button:hover {
        background-color: #00ceea;
        color: #fff; }

#upload .three-ways {
  float: left;
  width: 65%; }
  #upload .three-ways .way {
    margin-bottom: 35px;
    overflow: hidden;
    position: relative; }
    #upload .three-ways .way:last-child {
      margin-bottom: 0; }
    #upload .three-ways .way .number {
      color: #ff6a6a; }
    #upload .three-ways .way .desc {
      margin-right: 45px;
      position: relative;
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%; }
      #upload .three-ways .way .desc .text {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
    #upload .three-ways .way .photos {
      float: left;
      margin-left: calc(25% + 45px); }
      #upload .three-ways .way .photos img {
        margin-right: 40px; }

#edit .photo {
  float: left;
  width: 50%;
  padding-right: 45px; }
  #edit .photo img {
    max-width: 100%; }

#edit #blurSlider {
  width: 50%;
  float: left;
  height: 2px;
  border-color: #00ceea;
  display: none; }
  #edit #blurSlider .ui-slider-handle {
    top: -0.25em;
    width: .5em;
    height: .5em;
    background: #00ceea;
    border-radius: 50%;
    border-color: #00ceea; }

#edit .buttons {
  float: left;
  width: 50%; }
  #edit .buttons.on-active {
    display: none; }
  #edit .buttons.top {
    margin-bottom: 135px; }
  #edit .buttons button {
    width: calc(50% - 20px);
    margin: 0 20px;
    background-color: transparent;
    border-color: #ff6a6a;
    color: #ff6a6a; }
    #edit .buttons button:hover {
      color: #00ceea;
      border-color: #00ceea; }
    #edit .buttons button:first-child {
      margin-left: 0; }
    #edit .buttons button:last-child {
      margin-right: 0; }
    #edit .buttons button.active {
      color: #00ceea;
      border-color: #00ceea; }
  #edit .buttons.bottom {
    position: absolute;
    bottom: 55px;
    right: 45px;
    width: calc(50% - 45px); }

.modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: 20px;
  top: 10px; }

.form-control-feedback {
  right: -30px; }

*:focus {
  outline: 0 !important; }

html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Helvetica Neue'; }

ul {
  margin: 0;
  padding: 0; }

.container {
  padding: 0; }

*[class*=col-] {
  padding: 0; }
