@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-LightItalic.eot");
  src: url("../fonts/HelveticaNeue-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeue-LightItalic.ttf") format("truetype"), url("../fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

*:focus {
  outline: 0 !important; }

.btn {
  background: #00ceea;
  text-transform: uppercase; }

.modal-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 1; }

.modal-header {
  border: 0;
  padding: 30px 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .modal-header.red {
    background: #ff6a6a;
    color: #fff; }

.modal-body {
  padding: 0 50px;
  padding-bottom: 25px; }
  .modal-body.red {
    padding: 55px 40px;
    overflow: hidden;
    position: relative; }

.form-control {
  margin-bottom: 22px; }

.modal-body label {
  font-weight: normal; }

#loginModal .modal-body .forgot-link {
  float: right;
  color: #626262; }

#loginModal .modal-body .btn {
  margin-top: 20px; }

#loginModal .modal-body p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px; }
  #loginModal .modal-body p a {
    color: #00ceea; }

#createAcc .form-control {
  border-radius: 0; }

#createAcc .form-inline {
  width: 100%;
  margin: 0 -12px; }
  #createAcc .form-inline .form-control {
    width: calc(33.3% - 24px);
    margin: 0 12px; }

.checkbox-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 30px; }
  .checkbox-wrapper span {
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    font-weight: 300;
    width: 230px;
    color: #626262; }

#accept {
  display: none; }
  #accept + label {
    background: url("../img/reg_checkbox.png");
    width: 23px;
    height: 23px;
    background-position: 0 23px;
    position: relative;
    margin-bottom: 0;
    margin-top: 3px;
    display: inline-block; }
  #accept + label:hover {
    cursor: pointer; }
  #accept:checked + label {
    background-position: 0 0; }

#upload .info {
  float: left;
  width: 35%; }
  #upload .info .desc {
    color: #ff6a6a;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 35px; }
  #upload .info .buttons {
    position: absolute;
    width: 35%;
    bottom: 55px;
    right: 40px; }
    #upload .info .buttons button {
      margin-top: 25px;
      background-color: transparent;
      color: #00ceea; }
      #upload .info .buttons button:hover {
        background-color: #00ceea;
        color: #fff; }

#upload .three-ways {
  float: left;
  width: 65%; }
  #upload .three-ways .way {
    margin-bottom: 35px;
    overflow: hidden;
    position: relative; }
    #upload .three-ways .way:last-child {
      margin-bottom: 0; }
    #upload .three-ways .way .number {
      color: #ff6a6a; }
    #upload .three-ways .way .desc {
      margin-right: 45px;
      position: relative;
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%; }
      #upload .three-ways .way .desc .text {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
    #upload .three-ways .way .photos {
      float: left;
      margin-left: calc(25% + 45px); }
      #upload .three-ways .way .photos img {
        margin-right: 40px; }

#edit .photo {
  float: left;
  width: 50%;
  padding-right: 45px; }
  #edit .photo img {
    max-width: 100%; }

#edit #blurSlider {
  width: 50%;
  float: left;
  height: 2px;
  border-color: #00ceea;
  display: none; }
  #edit #blurSlider .ui-slider-handle {
    top: -0.25em;
    width: .5em;
    height: .5em;
    background: #00ceea;
    border-radius: 50%;
    border-color: #00ceea; }

#edit .buttons {
  float: left;
  width: 50%; }
  #edit .buttons.on-active {
    display: none; }
  #edit .buttons.top {
    margin-bottom: 135px; }
  #edit .buttons button {
    width: calc(50% - 20px);
    margin: 0 20px;
    background-color: transparent;
    border-color: #ff6a6a;
    color: #ff6a6a; }
    #edit .buttons button:hover {
      color: #00ceea;
      border-color: #00ceea; }
    #edit .buttons button:first-child {
      margin-left: 0; }
    #edit .buttons button:last-child {
      margin-right: 0; }
    #edit .buttons button.active {
      color: #00ceea;
      border-color: #00ceea; }
  #edit .buttons.bottom {
    position: absolute;
    bottom: 55px;
    right: 45px;
    width: calc(50% - 45px); }

.modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: 20px;
  top: 10px; }
