doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Main Page
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="css/jquery-ui.min.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/responsive.css")
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/jquery-ui.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
  body.main-page
    .first-screen
      .bg-block
        .container
          header
            .container
                a(href="#",class='logo')
                    img(src="img/inner-logo.png", alt="")
                    .logo-text Created by women. For women. To have discreet affairs.
                .nav-panel
                    .dropdown
                        button(data-toggle="dropdown").btn.btn-primary.dropdown-toggle#lang-menu #[img(src="img/lang-but.png", alt="")] #[span.caret]
                        ul.dropdown-menu(role="menu" aria-labelledby="lang-menu")
                            li(role="presentation")
                                a(href="#") Example
                            li(role="presentation")
                                a(href="#") Long Example
                            li(role="presentation")
                                a(href="#") Very Long Example
                    .dropdown.usa
                        button(data-toggle="dropdown").btn.btn-primary.dropdown-toggle#lang-menu.btn-lg.usa-btn #[img(src="img/usa.png", alt="")] USA #[span.caret]
                        ul.dropdown-menu(role="menu" aria-labelledby="lang-menu")
                            li(role="presentation")
                                a(href="#") Example
                            li(role="presentation")
                                a(href="#") Long Example
                            li(role="presentation")
                                a(href="#") Very Long Example
                    br
                    button.btn-lg.btn.btn-primary Login
          .bottom-right
            .text
              | We&rsquo;re the secure and anonymous way
              br
              |  to find a discreet lover
            |  
            a.big-btn(href='#').btn-lg.btn.btn-primary view your matches free
      .bottom-block
        .container  As seen on: CNN, MSNBC and Fox News
    .second-block
      .container
        .item
          .image
            img(src='img/eye.jpg', alt='')
          .text
            h2.title How did you end up here?
            .text-block
              | Admit it, when you looked in your partner&rsquo;s eyes as you said your wedding vows you never imagined this day would come. &nbsp; A day when you would be longing for 
              a(href='#') affection
              | . Longing for 
              a(href='#') attention
              | . Longing for someone who could look into your eyes and make you feel 
              a(href='#') sexy again
              | .
        .item
          .image
            img(src='img/hugs.jpg', alt='')
          .text
            h2.title You are not alone
            .text-block
              | Millions of women are in the exact same situation as you. Not wanting to end their marriage but also not wanting to be celibate the rest of their lives. Women typically have more limited options than men when seeking intimacy outside of their marriage. Most have affairs with someone in their social circles. It could be a coworker, ex-boyfriend or even one of their husband&rsquo;s friends. We don&rsquo;t need to tell you how risky that is. That is why we created 
              a(href='#') Eveeda
              | .
        .item
          .image
            img(src='img/hugs2.jpg', alt='')
          .text
            h2.title What is Eveeda?
            .text-block
              | Eveeda is a 100% discreet dating service for women and men looking to fulfill their intimacy needs in a secure and anonymous environment. Just like that girls trip to Vegas - 
              a(href='#') What happens on Eveeda, stays on Eveeda
              | .
        .btn-row
          a.big-btn(href='#').btn-lg.btn.btn-primary view your matches free
    .third-block
      .container
        h3.main-title  Created by women. For women. To have discreet affairs.
        p.subtitle
          | When we set out to create Eveeda, we interviewed over 300 women asking them what features
          br
          |  we should include to make them feel comfortable using our service to meet men.
          br
          br
        p.subtitle  Here is what we collectively came up with.
        h3.main-title Feeling Safe on Eveeda
        .item
          .image
            img(src='img/sm-icon1.png', alt='')
          .text
            .title Security
            .text-block
              | Knowing that security was their #1 priority, we built Eveeda from the ground up using the most up to date security features and firewalls.
        .item
          .image
            img(src='img/sm-icon2.png', alt='')
          .text
            .title Anonymous Profiles
            .text-block
              | Need to be discreet? You can select to have no photo, keep your photos in our private vault (where you decide who views them), or use our PhotoBlur feature to blur out your face.
        .item
          .image
            img(src='img/sm-icon3.png', alt='')
          .text
            .title Complete Delete
            .text-block
              | Worried about leaving an online trace after you stop using Eveeda? Just click on Complete Delete and we&rsquo;ll delete your Eveeda profile plus any of your personal messages in other members&rsquo; inboxes - removing any record that you were ever on our site.
        .item
          .image
            img(src='img/sm-icon4.png', alt='')
          .text
            .title Block Users
            .text-block
              | Pretty self-explanatory. Block other members from contacting you. Maybe we should call this feature &ldquo;Block Losers.&rdquo;
        .item
          .image
            img(src='img/sm-icon5.png', alt='')
          .text
            .title Non-Social Network
            .text-block
              | Your Eveeda membership will not be linked to any of your other social networks. We even encourage you to create a new email address just for this account.
        .item
          .image
            img(src='img/sm-icon6.png', alt='')
          .text
            .title Escape
            .text-block
              | Partner shows up while you&rsquo;re in the middle of a flirtatious message? Press the Escape button on your screen, and your browser will instantly switch to another website.
        .item
          .image
            img(src='img/sm-icon7.png', alt='')
          .text
            .title &ldquo;Married Only&rdquo; Club
            .text-block
              | The most discreet way to have an affair is be with someone who is in a similar situation as you. They have just as much reason to keep the affair a secret as you do. Eveeda is the only dating service out there where you can make it so only other married people can see your profile in search results.
    .fourth-block
      .container
        h3.main-title Having Success on Eveeda
        .item
          .image-block
            .image
              img(src='img/big-icon1.png', alt='')
          .text
            .title 100% Free for Women
            .text-block
              | Women automatically become free Full Members of Eveeda upon signing up. That means they can use all of Eveeda&rsquo;s features for free. Men become free Guest Members upon signing up which allows them to create a profile, search women and send winks for free.
        .item
          .image-block
            .image
              img(src='img/big-icon2.png', alt='')
          .text
            .title 1 to 1 Guarantee
            .text-block
              | We limit the number of men who can become 
              i Full Members
              |  so that we always have a 1 to 1 Male to Female full membership ratio. This will increase of the odds of both parties finding the ideal partner.
        .item
          .image-block
            .image
              img(src='img/big-icon3.png', alt='')
          .text
            .title &ldquo;Recommended&rdquo; Man
            .text-block
              | If after a few dates a woman is ready to move on from her Eveeda lover, she can recommend him to other women for any of the following attributes: Conversation, Dates, Humor, Passion, Pampering, Intimacy. The male member will then get to decide if he wants this to be included in his profile.
        .item
          .image-block
            .image
              img(src='img/big-icon4.png', alt='')
          .text
            .title Hookup Near You
            .text-block
              | For the more spontaneous members on our site, Eveeda will show you other members close by looking for a discreet encounter. The locations are NOT specific which protects everyone&rsquo;s anonymity.
        .item
          .image-block
            .image
              img(src='img/big-icon5.png', alt='')
          .text
            .title
              | Looking for a Sugar Daddy?
              br
              |  Eveeda can help you too.
            .text-block
              | Are you looking to meet a successful man who can provide you career mentorship, financial support or a taste of the finer things in life?
              br
              |  A discreet relationship with a mature, professional Eveeda man might be the answer for you.
    .fifth-block
      .container
        .col-md-6
          .sign-up-block
            .text
              | Sign up to Eveeda for 
              span free
              br
              |  and find yourself a discreet
              br
              |  lover today!
            |  
            a.big-btn(href='#').btn-lg.btn.btn-primary view your matches free
        .col-md-6
          .phone-block
            .text *Not actual Eveeda members
            .image
              img(src='img/phone.png', alt='')
    footer
      .container
        ul.bottom-menu
          li
            a(href='#') About Us
          li
            a(href='#') How It Works
          li
            a(href='#') FAQ
          li
            a(href='#') Contact Us
          li
            a(href='#') Affiliate
          li
            a(href='#') Press
          li
            a(href='#') Privacy Police
          li
            a(href='#') Terms &amp; Conditions
          li
            a(href='#') Sitemap
        .copyright &copy; 2017 Eveeda.com. All rights reserved
